domains/customer-service/aroma-cafe/Aroma-Cafe-buffer_sanitized.json
{
  "name": "Aroma-Café-buffer",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Presets').item.json.redisListKey }}",
        "messageData": "={{ $json.body.message }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1200,
        32
      ],
      "id": "ca61a27e-98ee-44ac-871d-54b91ef97235",
      "name": "Push Content",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "Redis Darkay"
        }
      }
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -928,
        32
      ],
      "id": "4a0eb8cb-ecfb-49a7-b6ac-ca026a28770b",
      "name": "Wait",
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b7aa784-a6be-43fa-9615-94c935c6da16",
              "name": "redisListKey",
              "value": "=services:message-buffering:{{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "4ddd3c79-204b-4c00-9d70-d3c0b46564a8",
              "name": "body.message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        32
      ],
      "id": "e197f16e-838f-4f6f-bff0-a779ef50e074",
      "name": "Presets"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Presets').item.json.redisListKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        32
      ],
      "id": "a26834b2-0823-4faf-95a7-1aae0f59c62a",
      "name": "Get Last Content",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "Redis Darkay"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Presets').item.json.redisListKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "1262e4de-86f1-4d4a-8086-fe92a36ac74a",
      "name": "Delete Buffered Messages",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_ID}}",
          "name": "Redis Darkay"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6897383d-a1db-4afe-adb5-258feb486e50",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "={{ $('Push Content').item.json.body.message }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f56d0158-4b08-4448-b990-a76df2e427b4",
      "name": "Verificar se há nova mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "306c10eb-79c8-48a7-8aa8-76b6ebf14f89",
              "name": "message",
              "value": "={{ $json.messages.map((_, index, arr) => arr[arr.length - 1 - index]).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2d262b00-edb6-4d2f-89d8-c547e7dea36a",
      "name": "Capturar lista de mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -144
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "phoneNumber"
            },
            {
              "name": "delayTimeMs"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1664,
        32
      ],
      "id": "ea125ca2-371b-4fcb-93ed-3b23d5213a1f",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Push Content": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Last Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presets": {
      "main": [
        [
          {
            "node": "Push Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Content": {
      "main": [
        [
          {
            "node": "Verificar se há nova mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se há nova mensagem": {
      "main": [
        [
          {
            "node": "Capturar lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar lista de mensagens": {
      "main": [
        [
          {
            "node": "Delete Buffered Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Presets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cbdb7825-c56a-44b8-8e3b-a457242254a3",
  "meta": {
    "instanceId": "{{INSTANCE_ID}}"
  },
  "id": "{{WORKFLOW_ID}}",
  "tags": []
}