domains/customer-service/tabmegahair/buffering_NATHAN_sanitized.json
{
  "name": "buffering NATHAN",
  "nodes": [
    {
      "parameters": {
        "operation": "push",
        "list": "=nathan:{{ $('Presets').item.json.redisListKey }}",
        "messageData": "={{ $json.body.message }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1344,
        192
      ],
      "name": "Push Content",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_REDIS_ID}}",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1072,
        192
      ],
      "name": "Wait",
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b7aa784-a6be-43fa-9615-94c935c6da16",
              "name": "redisListKey",
              "value": "=services:message-buffering:{{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "4ddd3c79-204b-4c00-9d70-d3c0b46564a8",
              "name": "body.message",
              "value": "={{ $json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        192
      ],
      "name": "Presets"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "=nathan:{{ $('Presets').item.json.redisListKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -784,
        192
      ],
      "name": "Get Last Content",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_REDIS_ID}}",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=nathan:{{ $('Presets').item.json.redisListKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "name": "Delete Buffered Messages",
      "credentials": {
        "redis": {
          "id": "{{CREDENTIAL_REDIS_ID}}",
          "name": "Redis"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "textMessage",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1824,
        368
      ],
      "name": "Webhook",
      "webhookId": "{{WEBHOOK_ID}}",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6897383d-a1db-4afe-adb5-258feb486e50",
              "leftValue": "={{ $json.messages[0] }}",
              "rightValue": "={{ $('Push Content').item.json.body.message }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Verificar se há nova mensagem",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "306c10eb-79c8-48a7-8aa8-76b6ebf14f89",
              "name": "message",
              "value": "={{ $json.messages.map((_, index, arr) => arr[arr.length - 1 - index]).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Capturar lista de mensagens",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        16
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "phoneNumber"
            },
            {
              "name": "delayTimeMs"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1808,
        192
      ],
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Push Content": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Last Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Presets": {
      "main": [
        [
          {
            "node": "Push Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Content": {
      "main": [
        [
          {
            "node": "Verificar se há nova mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar se há nova mensagem": {
      "main": [
        [
          {
            "node": "Capturar lista de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capturar lista de mensagens": {
      "main": [
        [
          {
            "node": "Delete Buffered Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Presets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-17T21:06:00.609Z",
      "createdAt": "2025-11-17T21:06:00.609Z",
      "id": "kGwc0botGvM5yCeS",
      "name": "tool"
    },
    {
      "updatedAt": "2025-11-24T18:17:42.588Z",
      "createdAt": "2025-11-24T18:17:42.588Z",
      "id": "qltsTFsPFHXNQ7Lv",
      "name": "TAB Megahair"
    }
  ]
}