domains/customer-service/confeitariaV/envia_imagem_sanitized.json
{
  "name": "envia_imagem",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "instanceId"
            },
            {
              "name": "phoneNumber"
            }
          ]
        }
      },
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "leo",
        "remoteJid": "={{ $('Download file').item.json.telefoneCliente }}",
        "media": "={{ $json.data }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1152,
        352
      ],
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "{{CREDENTIAL_EVOLUTION_API_ID}}",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b028bb9-de07-4197-98bc-d69adc91f065",
              "name": "telefoneCliente",
              "value": "={{ $json.telefoneCliente }}",
              "type": "string"
            },
            {
              "id": "83a8097c-75fc-49c1-b277-c87b0825a785",
              "name": "nomeCliente",
              "value": "={{ $json.nomeCliente }}",
              "type": "string"
            },
            {
              "id": "755d531a-1b7a-4b97-8922-0d195a23ee32",
              "name": "InstanceId",
              "value": "={{ $json.instanceId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Formalizar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "817f12c4-7d2a-45bd-8c12-74ab0c196308",
              "name": "response",
              "value": "=A imagem com os tamanhos foi encaminhada, prossiga com o atendimento ao cliente",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Resposta para o Agente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        352
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "{{GOOGLE_DRIVE_FILE_TAMANHOS_BOLO_ID}}",
          "mode": "list",
          "cachedResultName": "tamanhos_bolo.jpg",
          "cachedResultUrl": "https://drive.google.com/file/d/{{GOOGLE_DRIVE_FILE_TAMANHOS_BOLO_ID}}/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        704,
        352
      ],
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{CREDENTIAL_GOOGLE_DRIVE_ID}}",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        928,
        352
      ],
      "name": "Extract from File"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Formalizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Resposta para o Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formalizar": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "updatedAt": "2025-11-26T20:38:22.651Z",
      "createdAt": "2025-11-26T20:38:22.651Z",
      "id": "p3YwGmFbWMhNFB6N",
      "name": "p-vanessa"
    }
  ]
}